 *{
      margin:0;
      padding:0;
      box-sizing:border-box;
    }

    body{
      font-family: Arial, sans-serif;
      background:#0f172a;
      color:white;
      min-height:100vh;

      display:flex;
      justify-content:center;
      align-items:center;

      padding:20px;
    }

    .container{
      width:100%;
      max-width:700px;

      background:rgba(255,255,255,0.05);
      border:1px solid rgba(255,255,255,0.1);

      padding:30px;
      border-radius:20px;

      backdrop-filter: blur(10px);

      text-align:center;

      box-shadow:0 10px 30px rgba(0,0,0,0.3);
    }

    h1{
      font-size:2rem;
      margin-bottom:20px;
    }

    .quote{
      font-size:1.1rem;
      line-height:1.8;
      margin-bottom:18px;
      color:#e2e8f0;
    }

    .footer{
      margin-top:20px;
      font-size:0.9rem;
      opacity:0.7;
    }

    a{
        text-decoration: none;
        font-size:1.1rem;

    }
    a:hover{
        background-color: aquamarine;
    }

    /* Mobile View */
    @media (max-width:600px){

      .container{
        padding:20px;
      }

      h1{
        font-size:1.6rem;
      }

      .quote{
        font-size:1rem;
      }

    }