*, *::after,*::before{
    box-sizing: border-box;
    margin: 0;
}


html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: auto;
}
body{
    background-image: url("/static/uploads/White_b.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

#container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100%;
    padding: 10px 100px;
    margin: 0;
    overflow: hidden;
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px 5px rgb(0, 0, 0);
}

.all{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 40px;
}

.list_headings{
    margin: 10px;
    color: aquamarine;
}

#third_div{
    background-color: rgb(5, 5, 21);
    padding: 30px;
}

a{
    margin: 3px;
    text-decoration: none;
    color: rgb(255, 219, 16);
    font-size: 20px;
}

a:hover{
    background-color: black;
    padding: 10px;
    max-width: fit-content;
}


@media (max-width: 600px) {
  body {
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
  }

  h1 {
    font-size: 20px;
  }

  #container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100%;
    padding: 2px 1px 10px 4px;
    margin: 0;
    overflow: hidden;
    color: rgb(228, 228, 228);
    text-shadow: 2px 3px 5px rgb(0, 0, 0);
  }
  .all{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
}
.list_headings{
    margin: 10px;
    color: aquamarine;
}
}