<!DOCTYPE html>
<html>
    <head>
        <title>Slingards Market</title>
        <link rel="stylesheet" href="{{url_for('static', filename='paste.css')}}">
    </head>
    <body>
        <div id= "container">
            <div id="first_div" class="all">
                <h1>Welcome to Slingards Black Market!</h1>
                <h3>Get all you need with ease, varieties of guns and drugs available to choose from</h2>
                <h2 class="list_headings">Available gun types</h2>
                <ul>
                    <li>Auto</li>
                    <li>semi auto</li>
                    <li>manual</li>
                    <li>pump action</li>
                    <li>Single action</li>
                    <li>Double action</li>
                </ul>
                <h2 class="list_headings">All drugs</h2>
                <Ul>
                    <li>Coke</li>
                    <li>LSD</li>
                    <li>Heroine</li>
                    <li>MDMA</li>
                    <li>Weed of all strains e.t.c</li>
                </ul>
            </div>
            <div id="second_div" class="all">
                <h3>Slingard is a reliable and sure market plug, you can reach out with the info below!</h5>
                <h2 class="list_headings">Contacts</h2>
                <a href="https://wa.link/gnn7om"><p>WhatsApp: +1 470 360 2782.</p></a>
                <a href="https://signal.me/#eu/Ztx_ZHMy2xJS8mGei2bSp9ytH5PeQ2k0LXptmBjFUMOhzG-EAe5LZJHhdP_jcSeZ"><p>Signal: +1 540 277 5680</p></a>
                <a href="https://mail.proton.me/u/0/inbox"><p>Email: Slingards@proton.me</p></a>
            </div>
            <div id="third_div" class="all" >All messages are end to end encrypted and secured.
                Note: Slingard do not tolerate unnecessary conversations,
                to avoid being deleted follow all rules accordingly. Only business deals are welcomed.
            </div>
        </div>
    </body>
</html>